<div class="page" data-page="order-finalize">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center" style="line-height: 50px;">Checkout</div>
        </div>
    </div>
    <div class="page-content">
        <div class="content-block-slim" style="margin-top:45px;">
            <div class="h1" style="width: 100%;text-align: center;font-weight: bold;font-size: 19px;">Your Order Details</div>
            <div class="final-order-items-wrapper">

                <template v-for="order in orderList">
                    <div class="day-order">
                        <div class="title">{{order.title}}</div>
                        <div class="day-order-details">
                            <ul style="background-color: #f1f1f1;list-style: none;padding-left: 0px;">
                                <li class="item-content" v-for="listItem in order.list">
                                    <div class="row">
                                        <div class="col-75">{{listItem.name}} <span v-show="listItem.quantity > 0"> x {{listItem.quantity}}</span></div>
                                        <div class="col-25" style="text-align: right">Rs. {{listItem.price * listItem.quantity}}</div>
                                    </div>
                                    <div v-show="listItem.extras.length > 0">                                     
                                        <div class="row extra-price-item" v-for="extraItem in listItem.extras">
                                            +&nbsp;<div class="col-75">{{extraItem.name}} x {{extraItem.quantity}}</div>
                                            <div class="col-25" style="text-align: right">Rs. {{extraItem.price}}</div>
                                        </div>
                                    </div>
                                   
                                </li>
                            </ul>
                        </div>
                    </div>
                </template>


                <div class="total-area">
                    <div class="row">
                        <div class="col-60">Total</div>
                        <div class="col-40" style="text-align:right;">Rs. {{totalPrice}}</div>
                    </div>
                </div>
            </div>
            <div class="form-item" style="margin-bottom: 10px;">
                <div style="margin: 30px 0px;">Are you sure you would like to place this order?</div>
                <div class="button button-fill yellow" style="margin: 10px 0px;" v-on:click="changeOrder()">
                    CHANGE ORDER
                </div>
                <div class="row">
                    <div class="col-50">
                        <div class="button button-fill yellow" v-on:click="cancelOrder()">
                            CANCEL
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="button button-fill yellow" v-on:click="pushOrder()">
                            CONFIRM
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
