<div class="popup popup-history-info">
    <div class="content-block">
        <div class="list-block inset" style="margin-bottom:10px;">
            <div class="title" style="font-size: 20px;">{{restName}}</div>
        </div>
        <div class="inset history-info" style="margin-top:10px;">
            <div class="outer">
                <div class="inner">
                    <div class="order-placement" style="margin-bottom:10px;">
                        <div class="customer-name">Customer Name : {{clientName}}</div>
                        <div class="order-date">Order Date : {{orderDate}}</div>
                    </div>
                    <div class="order-details">

                        <div class="card" v-for="item in orderSet.orderAr">
                            <div class="card-header">
                                <div class="main-food">
                                    {{item.name}} <span class="quantity">{{" X " + item.quantity}}</span>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="order-item">

                                    <div class="order-list">
                                        <ul>
                                            <li v-for="mod in item.modifiers">
                                                <div class="history-order-item" data-id="{{mod.id}}">
                                                    {{mod.name}} {{" - " + mod.price}}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="total-price">
                                    Total Price <span class="price">{{item.price}}</span>    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="form-item">
            <div class="row">



                <div class="col-100">
                    <div class="button button-fill yellow close-popup">OK</div>

                </div>
            </div>
        </div>
    </div>
</div>