<div class="page" data-page="registration">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center" style="line-height: 50px;">Saffron Kitchens</div>
        </div>
    </div>
    <div class="page-content">
        <form action="/" method="post" id="test">
            <div class="content-block">
                <div class="form-title">
                    {{isEdit? "EDIT YOUR PROFILE" : "REGISTRATION FORM"}}
                </div>
                <div class="form-item"><input class="text-box" type="text" name="mobileNumber" v-model="MobileNumber" placeholder="Mobile Number" /></div>
                <div class="row-gap-1"></div>
                <div class="form-item"><input class="text-box" type="text" name="firstName" v-model="FName" placeholder="Your first name" /></div>
                <div class="form-item"><input class="text-box" type="text" name="lastName" v-model="LName" placeholder="Your last name" /></div>
                <div class="form-item">
                    <p>I am</p>
                    <!--<div class="buttons-row" style="width:100%;">
                        <div href="#" class="button yellow" v-bind:class="[IsMale ? 'button-fill' : '']" v-on:click="toggleGender(true)">Male</div>
                        <div href="#" class="button yellow" v-bind:class="[IsMale ? '' : 'button-fill']" v-on:click="toggleGender(false)">Female</div>
                    </div>-->
                    <div class="row no-gutter" style="width:100%;">
                        <div class="col-50">
                            <div href="#" class="button yellow double" v-bind:class="[IsMale ? 'button-fill' : '']" v-on:click="toggleGender(true)">Male</div>
                        </div>
                        <div class="col-50">
                            <div href="#" class="button yellow double" v-bind:class="[IsMale ? '' : 'button-fill']" v-on:click="toggleGender(false)">Female</div>
                        </div>
                    </div>
                </div>
                <div class="row-gap-1"></div>
                <div class="form-item"><input class="text-box" type="text" name="email" v-model="Email" placeholder="Email" /></div>
                <div class="form-item"><input class="text-box" type="text" name="homeAddress" v-model="HomeAddress" placeholder="Home Address" /></div>
                <div class="form-item"><input class="text-box" type="text" name="officeAddress" v-model="OfficeAddress" placeholder="Office Address" /></div>
                <div class="row-gap-1"></div>
                <div v-show="!isEdit" class="form-item">
                    <input class="text-box" type="password" name="password" v-model="PasswordHash" v-show="RegType == 0" placeholder="Type in password" />
                </div>
                <div v-show="!isEdit" class="form-item">
                    <input class="text-box" type="password" name="confirm" v-model="PasswordHashConfirm" v-show="RegType == 0" placeholder="Confirm the password" />
                </div>
                <div class="form-item" style="margin-top:12px;" v-show="!isEdit">
                    <div class="button button-fill yellow" v-on:click="save()">REGISTER</div>
                </div>
                <div class="form-item" style="margin-top:12px;" v-show="isEdit">
                    <div class="row">
                        <div class="col-50">
                            <div class="button button-fill black" v-on:click="cancel()">CANCEL</div>
                        </div>
                        <div class="col-50">
                            <div class="button button-fill yellow" v-on:click="save()">SAVE</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>